*.pyc
*.pyo
autom4te.cache/traces*
autom4te.cache/request*
autom4te.cache/output*
*.o
config.guess
config.status
config.sub
config.rpath
config.log
.settings/*
.pydevproject
.project
.DS_Store
christine.desktop
christine
*.m4
*.gmo
*~
*swp
*swo
*.so